.flex{
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.color-background-first{
	background-color: #fff;
}
.color-background-second{
	background-color: #EFEFED;
}
.l-main-title>span{
	font-weight: bold;
	color: #C50451;
}
.bold-p{
	font-weight: normal;
	padding-top: 20px;
	padding-left: 41px;
	@include tablets {
		padding-left: 0px;
	}

	@include phones {
		padding-left: 0px;
	}
}
.title-color-brown{
	color: #604944 !important;
}
.paragraph-color-gray{
	color: #777778 !important;
}
.l-section{
	&.tablets-haigh{
	min-height: 600px;
    }
}